<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{{ name }}
<input type="text" id="username" name="Username" placeholder="Enter Username"  required>
<input type="text" id="email" name="Email" placeholder="Enter Email" required>
<input type="text" id="password" name="Password" placeholder="Enter Password" required>
<input type="submit" id="submit" name="Login" onclick="location.href='msg.html'" required>


</body>

</html>